---
import Layout from "../../../layouts/Layout.astro";
import CarruselBlogPost from "../../../components/CarruselBlogPost.astro";
import Sensors from "../../../components/sensors.astro";
import Motors from "../../../components/motors.astro";
const archihubSlides = [
    {
        image: "/imgs/archihubnaturepage/presentacion_01.jpg",
        caption: "Sistema modular para conectar distintas combinaciones de sensores a la plataforma",
    },
    {
        image: "/imgs/archihubnaturepage/presentacion_02.jpg",
        caption: "Prototipo de camara conectada a ArchiHUB para la recolección de información de una huerta hidropónica",
    }
];
const archihubSlides2 = [
    {
        image: "/imgs/archihubnaturepage/archihub_01.jpg",
        caption: "Vista desde el aplicativo de la captura de una cámara conectada al sistema y programada para tomar una foto a intervalos regulares",
    },
    {
        image: "/imgs/archihubnaturepage/archihub_02.jpg",
        caption: "Vista de los registros e interfaz de control para la huerta hidropónica",
    }
];

---

<Layout title="BITSOL - ArchiHUB">
    <div style="width: 100vw;">
        <div class="spotlight-content" id="archihub">
            <h1 class="spotlight-subtitle">Archihub y la naturaleza            </h1>
            <div class="spotlight-desc">
                Puede parecer inusual pensar en un sistema de gestión documental como una herramienta versátil para capturar datos en entornos naturales, pero eso es precisamente lo que ofrece ArchiHUB.

            </div>
            <CarruselBlogPost slides={archihubSlides} />
            
            <div class="spotlight-desc">
                ArchiHub te ofrece la posibilidad de conectar una amplia gama de sensores para recolectar información, además de interfaces que te permiten realizar acciones en el mundo real, todo directamente desde la aplicación. ¡Una manera simple y práctica de unir el mundo digital con el físico!
                
            </div>
            <Sensors />
            <div class="spotlight-desc">
                En ArchiHub sabemos que la memoria va más allá de solo registrar y archivar: también se trata de cómo la ponemos en acción. Por eso, te ofrecemos plugins que te permiten interactuar con interfaces del mundo real, ya sea para capturar información o para activar sistemas motorizados. ¡Una forma sencilla y efectiva de dar vida a tus datos y conectar con el entorno!

            </div>

            <Motors />
            <div class="spotlight-desc">
                Debido a que fue diseñado como un sistema que busca abarcar la totalidad de la memoria como base para un proyecto artístico, ArchiHUB reconoce que la memoria no es exclusivamente humana. Al organizar y sistematizar datos de la naturaleza, tejemos una narrativa y construimos una memoria natural.

            </div>
            <CarruselBlogPost slides={archihubSlides2} />
            <div class="spotlight-desc">
                Actualmente estamos trabajando en aplicaciones para estaciones meteorológicas pequeñas y cultivos hidropónicos. Hemos integrado ArchiHUB para la recolección, procesamiento y publicación de datos a través de aplicaciones de mensajería instantánea.

            </div>

            <img src="/imgs/archihubnaturepage/presentacion_03.jpg" alt="ArchiHUB Natural Monitor" class="spotlight-image">

            <div class="spotlight-desc">
                A medida que avancemos, implementaremos más detalles sobre las posibilidades. Mientras tanto, puedes consultar la siguiente publicación, que describe conceptualmente el propósito de este proyecto.

            </div>
            <div class="spotlight-desc questions-list">
                <a href="#">Hacia una Conciencia Terrestre a Través de la Memoria Natural</a>
            </div>
        </div>
    </div>
</Layout>
