---
import Layout from '../../../layouts/Layout.astro';
import InfoCard from '../../../components/InfoCard.astro';
import CarruselBlogPost from '../../../components/CarruselBlogPost.astro';

const archihubSlides = [
  {
    image: "/imgs/carruselArchihub/archihub_01.jpg",
    caption: "Vista general de las galerías y de los datos de catalogación"
  },
  {
    image: "/imgs/carruselArchihub/archihub_02.jpg",
    caption: "Transcripción automática para los videos con estadísticas de oradores"
  },
  {
    image: "/imgs/carruselArchihub/archihub_03.jpg",
    caption: "Módulos de catalogación y edición avanzada de metadatos"
  }
];
---

<Layout title="BITSOL - ArchiHUB">
  
  <div style="width: 100vw;">
    <div class="spotlight-content" id="archihub">
      <h1 class="spotlight-subtitle">¿Qué es ArchiHUB?</h1>
      <div class="spotlight-desc">
        ArchiHUB es una aplicación de código abierto colombiana que busca tejer narrativas a través de la
        sistematización de información, ya sea con documentos institucionales, archivos históricos o datos naturales.
        Puedes ir al <a href="https://github.com/Archihub-App">repositorio</a> y a la <a
          href="https://archihub-app.github.io/archihub.github.io/">documentación oficial</a> para conocer más!
        </div>
        <CarruselBlogPost slides={archihubSlides} />
        <div class="spotlight-desc">
            Combina información de todo tipo: desde datos organizados hasta textos libres, e incluso datos captados por sensores o extraídos de sistemas naturales y conversaciones, como chats de Telegram. Todo esto lo hace posible gracias a sus prácticos plugins. Además, ArchiHub es en gran parte de código abierto, lo que te permite usarlo en tu computadora o servidor propio y crear tu propia API de manera fácil y personalizada. ¡Una solución flexible para mantener tu información a tu manera!

            </div>

    </div>
  </div>
</Layout>
