---
import Layout from '../../../layouts/Layout.astro';
import InfoCard from '../../../components/InfoCard.astro';
import CarruselBlogPost from '../../../components/CarruselBlogPost.astro';

const archihubSlides = [
  {
    image: "/imgs/carruselArchihub/archihub_01.jpg",
    caption: "Vista general de las galerías y de los datos de catalogación"
  },
  {
    image: "/imgs/carruselArchihub/archihub_02.jpg",
    caption: "Transcripción automática para los videos con estadísticas de oradores"
  },
  {
    image: "/imgs/carruselArchihub/archihub_03.jpg",
    caption: "Módulos de catalogación y edición avanzada de metadatos"
  }
];

const archihubSlides2 = [
  {
    image: "/imgs/carruselArchihub/archihub_04.jpg",
    caption: "Puedes hacer procesamientos en Python e integrarlos a ArchiHUB para aplicarlos de manera masiva o individual a tus documentos"
  },
  {
    image: "/imgs/carruselArchihub/archihub_05.jpg",
    caption: "Edita el resulta de tus procesamientos"
  }
];
---

<Layout title="BITSOL - ArchiHUB">
  
  <div style="width: 100vw;">
    <div class="spotlight-content" id="archihub">
      <h1 class="spotlight-subtitle">¿Qué es ArchiHUB?</h1>
      <div class="spotlight-desc">
        ArchiHUB es una aplicación de código abierto colombiana que busca tejer narrativas a través de la
        sistematización de información, ya sea con documentos institucionales, archivos históricos o datos naturales.
        Puedes ir al <a href="https://github.com/Archihub-App">repositorio</a> y a la <a
          href="https://archihub-app.github.io/archihub.github.io/">documentación oficial</a> para conocer más!
        </div>
        <CarruselBlogPost slides={archihubSlides} />
        <div class="spotlight-desc">
            Combina información de todo tipo: desde datos organizados hasta textos libres, e incluso datos captados por sensores o extraídos de sistemas naturales y conversaciones, como chats de Telegram. Todo esto lo hace posible gracias a sus prácticos plugins. Además, ArchiHub es en gran parte de código abierto, lo que te permite usarlo en tu computadora o servidor propio y crear tu propia API de manera fácil y personalizada. ¡Una solución flexible para mantener tu información a tu manera!

            </div>
            <CarruselBlogPost slides={archihubSlides2} />
            <div class="spotlight-desc">
                ArchiHub está pensado para organizar tu información de forma práctica y, al mismo tiempo, ayudarte a tejer historias con ella. Puedes aprovechar nuestra interfaz gratis para empezar fácilmente o, si lo prefieres, diseñar tus propias interfaces para interactuar con tus archivos y compartirlos como quieras. ¡Tú decides cómo dar vida a tus datos!

    
                </div>
                <h2 class="spotlight-subtitle-subtitular">Conoce más acerca del proyecto
                </h2>
                <div class="spotlight-desc">
                    Puedes obtener más información sobre el proyecto leyendo algunas de nuestras publicaciones sobre el tema o solicitando una demostración.
                    </div>
                    <div class="spotlight-desc questions-list">

                    <a href="#">¿En qué consiste ArchiHUB?</a>
                    <a href="#">La revolución de la Web 3.0 podría no tratarse tanto de criptomonedas, sino más bien girar en torno a nuestros recuerdos</a>
                    <a href="#">El archivo digital del siglo XXI y los memes</a>
                    <a href="#">Museos, Sistemas de Información y Narrativas Inclusivas para las Comunidades Afro, Raizales y Palenqueras en Colombia</a>
                    <a href="#">Guardianes del Tiempo: Herramientas Digitales, Saberes y Prácticas Tradicionales</a>
                    <a href="#">El código abierto y el post acuerdo</a>

                    </div>  

    </div>
  </div>
</Layout>
