---
import Layout from '../../../layouts/Layout.astro';
import InfoCard from '../../../components/InfoCard.astro';
---

<Layout title="BITSOL - Proyectos">
  <div style="width: 100vw">
      <h1 class="page-title">Proyectos</h1>

    
</Layout>