---
import Layout from '../../../layouts/Layout.astro';
import InfoCard from '../../../components/InfoCard.astro';
import CarruselBlogPost from '../../../components/CarruselBlogPost.astro';

const archihubSlides = [
  {
    image: "/imgs/archihub/3.jpg",
    caption: "ArchiHUB revoluciona la gestión documental con tecnología de código abierto"
  },
  {
    image: "/imgs/archihub/4.jpg",
    caption: "Tecnología innovadora para preservar la memoria histórica de manera digital"
  },
  {
    image: "/imgs/archihub/6.jpg",
    caption: "Sensores ambientales integrados para crear archivos de memoria natural"
  }
];
---

<Layout title="BITSOL - ArchiHUB">
  
  <div style="width: 100vw;">
    <div class="spotlight-content" id="archihub">
      <h1 class="spotlight-subtitle">¿Qué es ArchiHUB?</h1>
      <div class="spotlight-desc">
        ArchiHUB es una aplicación de código abierto colombiana que busca tejer narrativas a través de la
        sistematización de información, ya sea con documentos institucionales, archivos históricos o datos naturales.
        Puedes ir al <a href="https://github.com/Archihub-App">repositorio</a> y a la <a
          href="https://archihub-app.github.io/archihub.github.io/">documentación oficial</a> para conocer más!
        </div>
        <CarruselBlogPost slides={archihubSlides} />
        <div class="spotlight-desc">
            ArchiHUB es una aplicación de código abierto colombiana que busca tejer narrativas a través de la
            sistematización de información, ya sea con documentos institucionales, archivos históricos o datos naturales.
            Puedes ir al <a href="https://github.com/Archihub-App">repositorio</a> y a la <a
              href="https://archihub-app.github.io/archihub.github.io/">documentación oficial</a> para conocer más!
            </div>

    </div>
  </div>
</Layout>
