---
import Layout from '../../../layouts/Layout.astro';
import InfoCard from '../../../components/InfoCard.astro';
import CarruselBlogPost from '../../../components/CarruselBlogPost.astro';

const archihubSlides = [
  {
    image: "/imgs/archihub/3.jpg",
    caption: "ArchiHUB revolutionizes document management with open-source technology"
  },
  {
    image: "/imgs/archihub/4.jpg",
    caption: "Innovative technology to preserve historical memory digitally"
  },
  {
    image: "/imgs/archihub/6.jpg",
    caption: "Integrated environmental sensors to create natural memory archives"
  },
  {
    image: "/imgs/archihub/7.jpg",
    caption: "A platform that weaves narratives through information systematization"
  }
];
---

<Layout title="BITSOL - ArchiHUB">
  <CarruselBlogPost slides={archihubSlides} />
  
  <div style="width: 100vw; padding: 4rem 2rem;">
    <div class="spotlight-content" id="archihub">
      <h1 class="spotlight-subtitle">What is ArchiHUB?</h1>
      <div class="spotlight-desc">
        ArchiHUB is a Colombian open-source application that seeks to weave narratives through the
        systematization of information, whether with institutional documents, historical archives or natural data.
        You can go to the <a href="https://github.com/Archihub-App">repository</a> and the <a
          href="https://archihub-app.github.io/archihub.github.io/">official documentation</a> to learn more!
      </div>
    </div>
  </div>
</Layout>
