---
import Layout from '../../../layouts/Layout.astro';
import InfoCard from '../../../components/InfoCard.astro';

// Get current language
const currentPath = Astro.url.pathname;
const isEnglish = currentPath.startsWith('/en/') || currentPath === '/en';
const currentLang = isEnglish ? 'en' : 'es';

// URLs based on language
const archihubUrl = '/' + currentLang + '/projects/archihub'
const monitorUrl = '/' + currentLang + '/projects/archihub';

---

<Layout title="BITSOL - Projects">
  <div style="width: 100vw">
      <h1 class="page-title">Projects</h1>

      <InfoCard 
      title="ArchiHUB"
      description="ArchiHUB is a Colombian open-source project that seeks to organize and facilitate access to historical memory."
      url={archihubUrl}
      images={["/imgs/archihub/3.jpg", "/imgs/archihub/4.jpg", "/imgs/archihub/6.jpg", "/imgs/archihub/7.jpg"]}
    />

    <InfoCard 
      title="ArchiHUB Natural Monitor"
      description="The flexibility of ArchiHUB allows it to be used as a powerful information system to build a natural memory archive."
      url={monitorUrl}
      images={["/imgs/archihubnature/1.jpg", "/imgs/archihubnature/3.jpg"]}
      imagePosition="right"
    />    
  </div>
</Layout> 