---
import Carousel from '../components/carrusel.astro';
import InfoCard from '../components/InfoCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="BITSOL - Tecnología que conecta, preserva e inspira">
  <div id="logo-container"></div>
  <div style="width: 100vw">
    <div class="spotlight-content">
      <!-- <span class="spotlight-version-badge">Versión 0.9.10 <span class="badge-dot"></span></span> -->
      <h1 class="spotlight-title">BITSOL</h1>
      <div class="spotlight-subtitle">Tecnología que conecta, preserva e inspira</div>
      <div class="spotlight-desc">
        En BITSOL, aprovechamos el poder de la tecnología para impulsar la innovación y generar impacto social.
        Desarrollamos soluciones digitales de código abierto que transforman comunidades e instituciones.
      </div>
      <div class="spotlight-buttons">
        <a href="https://archihub.bit-sol.com.co/" class="btn">Ver demo</a>
        <a href="mailto:contact@bit-sol.com.co" class="btn btn-secondary">Contactar</a>
      </div>
      <Carousel />

    </div>
    <div class="spotlight-content" id="archihub">
      <div class="spotlight-subtitle">¿Qué es ArchiHUB?</div>
      <div class="spotlight-desc">
        ArchiHUB es una aplicación de código abierto colombiana que busca tejer narrativas a través de la
        sistematización de información, ya sea con documentos institucionales, archivos históricos o datos naturales.
        Puedes ir al <a href="https://github.com/Archihub-App">repositorio</a> y a la <a
          href="https://archihub-app.github.io/archihub.github.io/">documentación oficial</a> para conocer más!
      </div>
      <div class="spotlight-buttons">
        <a href="https://archihub.bit-sol.com.co/" class="btn btn-secondary">Conoce más</a>
      </div>
    </div>

    <InfoCard 
      title="Un título de ejemplo"
      description="Esta es una descripción de ejemplo para el componente que acabamos de crear. Puedes poner aquí la información que desees y se mostrará junto a la imagen interactiva."
      url="#"
      images={["/imgs/imagen_01.png", "/imgs/imagen_02.png"]}
    />

    <InfoCard 
      title="Otro ejemplo con imagen a la derecha"
      description="Esta es una descripción de ejemplo para el componente que acabamos de crear. Puedes poner aquí la información que desees y se mostrará junto a la imagen interactiva."
      url="#"
      images={["/imgs/imagen_02.png", "/imgs/imagen_01.png"]}
      imagePosition="right"
    />

    <div class="spotlight-content" id="nature">
      <div class="spotlight-subtitle">ArchiHUB y la naturaleza</div>
      <div class="spotlight-desc">
        ArchiHUB te ofrece la posibilidad de conectar una amplia gama de sensores para recolectar información, además
        de interfaces que te permiten realizar acciones en el mundo real, todo directamente desde la aplicación. ¡Una
        manera simple y práctica de unir el mundo digital con el físico!
      </div>
      <div class="spotlight-buttons">
        <a href="https://archihub.bit-sol.com.co/" class="btn btn-secondary">Conoce más</a>
      </div>
    </div>
    <div class="spotlight-content" id="about">
      <div class="spotlight-subtitle">Acerca de BITSOL</div>
      <div class="spotlight-desc">
        <p>Nos enfocamos en áreas clave como la memoria histórica, el proceso de paz, sensores ambientales y la
          gestión documental. Nuestra experiencia también abarca soluciones para medios en la web y tecnologías de
          Internet de las Cosas (IoT), ayudando a las organizaciones a mantenerse conectadas, contar sus historias y
          gestionar sus recursos de manera eficiente.
        </p>
        <p>
          Desde plataformas digitales hasta sensores inteligentes, cada solución que creamos está diseñada con una
          combinación de visión artística y excelencia técnica, contribuyendo a la preservación de la memoria, la
          verdad y el progreso sostenible.
        </p>
      </div>
      <div class="spotlight-buttons">
        <a href="mailto:contact@bit-sol.com.co" class="btn btn-secondary">Contacto</a>
      </div>
    </div>
  </div>
  <script>
    import { initLogo } from '../scripts/logo.js';
    const logoContainer = document.getElementById('logo-container');
    if (logoContainer) {
      initLogo(logoContainer, true);
    }
  </script>
  <style>
    #logo-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  </style>
</Layout>