---
import Layout from '../layouts/Layout.astro';
---

<Layout title="BITSOL - Proyectos">
  <div style="width: 100vw">
    <div class="spotlight-content">
      <h1 class="spotlight-title">Proyectos</h1>
      
    </div>
  </div>
</Layout>