---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';

---

<Layout title="BITSOL - Proyectos">
  <div style="width: 100vw">
      <h1 class="page-title">Proyectos</h1>

      <InfoCard 
      title="ArchiHUB"
      description="ArchiHUB es un proyecto colombiano de código abierto que busca organizar y facilitar el acceso a la memoria histórica."
      url="#"
      images={["/imgs/archihub/3.jpg", "/imgs/archihub/4.jpg", "/imgs/archihub/6.jpg", "/imgs/archihub/7.jpg"]}
    />

    <InfoCard 
      title="ArchiHUB monitor natural"
      description="La flexibilidad de ArchiHUB permite que se utilice como un potente sistema de información para construir un archivo de memoria natural"
      url="/whatsapp"
      images={["/imgs/archihubnature/1.jpg", "/imgs/archihubnature/3.jpg"]}
      imagePosition="right"
    />    
  </div>
</Layout>