---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';

---

<Layout title="BITSOL - Servicios">
  <div style="width: 100vw">
      <h1 class="page-title">Servicios</h1>

      <InfoCard 
      title="Visualización de datos especializada"
      description="Creamos visualizaciones personalizadas para ayudarte a entender tus datos, incluyendo mapas, líneas de tiempo y otros diseños interactivos."
      images={["/imgs/datosEspecializada/2.jpg", "/imgs/datosEspecializada/3.jpg", "/imgs/datosEspecializada/4.jpg"]}
    />

    <InfoCard 
      title="Modelos de IA personalizados"
      description="ArchiHUB permite ejecutar modelos de IA especializados para extraer información de imágenes y documentos. Podemos ayudarte a entrenar un modelo que se ajuste a tus necesidades."
      images={["/imgs/models.jpg"]}
      imagePosition="right"
    />    

    <InfoCard 
    title="ArchiHUB soporte"
    description="Podemos ayudarte a desplegar y configurar ArchiHUB para tu organización. Este soporte también incluye la migración de la información que puedas tener, para que obtengas una instalación completamente funcional con toda la información que te importa."
    images={["/imgs/support.jpg"]}
  />

  <InfoCard 
  title="Interfaz de usuario personalizada"
  description="Podemos ayudarte a diseñar una interfaz de usuario que sea fácil de usar y que te ayude a sacar el máximo provecho de tu información, ya sea en la web, móvil o realidad virtual."
  images={["/imgs/customui.jpg"]}
  imagePosition="right"
/>   

  </div>
</Layout>